<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    
    <file value="C:\Users\pushkar.jaju\source\repos\TwitterStreamConsoleApp\TwitterStreamConsoleApp\log\log.log"/>
    <AppendToFile value="true"/>
    <MaxSizeRollBackups value="10"/>
    <MaximumFileSize value="10MB"/>
    <RollingStyle value="Size"/>
    <StaticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="*********************** BEGIN OTSDT: %utcdateZ [%env{COMPUTERNAME}] ************************%newline" type="log4net.Util.PatternString"/>
      <footer value="*********************** END OTSDT: %utcdateZ [%env{COMPUTERNAME}] ************************%newline" type="log4net.Util.PatternString"/>
      <conversionPattern value="%date [%thread] %-5level %logger{2} - %message%newline%exception"/>
    </layout>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="LogFileAppender"/>
  </root>
</log4net>
